@import "palette.scss";

body {
  background: $complement-3;
}

.graph {
  fill: none;
  stroke: $primary-5;
  stroke-width: 2;
}

.axis {
  path {
    fill: none;
    stroke-width: 1;
    stroke: $secondary-a-3;
  }
  text {
    fill: $primary-2;
  }
  
  .tick line {
    stroke: $secondary-b-1;
  }
}

.rule {
  stroke: $secondary-b-4;
}

.watermark {
  stroke: $primary-3;
  stroke-width: 2;
  stroke-dasharray: 7;
  stroke-opacity: .8;
  fill: none;
}
