/* http://colorschemedesigner.com/#0K41NIWnt4e1a */

$primary-1: #BB6E00;
$primary-2: #B56C06;
$primary-3: #B26800;
$primary-4: #BC6F02;
$primary-5: #BC6F03;

$secondary-a-1: #BB8800;
$secondary-a-2: #B58506;
$secondary-a-3: #B28200;
$secondary-a-4: #BC8902;
$secondary-a-5: #BC8A03;

$secondary-b-1: #0A1581;
$secondary-b-2: #0D187D;
$secondary-b-3: #09147B;
$secondary-b-4: #0B1783;
$secondary-b-5: #0C1783;

$complement-1: #054279;
$complement-2: #084275;
$complement-3: #043F73;
$complement-4: #06447B;
$complement-5: #07447B;
