<!DOCTYPE html>
<html>
<head>
  <title>Curates</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'http://d3js.org/d3.v3.js' %>
  <%= javascript_include_tag "application" %>
</head>
<body>

<%= yield %>

</body>
</html>
